.main__sign {
	max-width: 1920px;
	margin: auto;
	height: 400px;
	background-color: #ced3ca;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	&-wrapper {
		width: 30%;
		margin: auto;
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		@media (max-width:1439px) {
			width: 40%;
		}
		@media (max-width:1023px) {
			width: 80%;
		}
		h2 {
			line-height: 1.5;
			font-size: 2rem;
			margin-bottom: 30px;
		}
		p {
			line-height: 2;
			margin-bottom: 30px;
		}

	}
	&-form {
		display: flex;
		justify-content: space-between;
		@media (max-width:499px) {
			flex-direction: column;
		}
		.field {
			width: 65%;
			@media (max-width:499px) {
				width: 100%;
			}
			input {
				border: 1px solid var(--bs-color-white);
				border-radius: 3px;
				background-color: var(--bs-color-white);
				padding: 10px;
				transition: .3s;
				@media (max-width:499px) {
					margin-bottom: 8px;
				}
				&:focus {
					border: 1px solid var(--bs-color-black);
					transition: .3s;
				}
			}
		}
		button {
			width: 30%;
			border: 1px solid var(--bs-color-white);
			border-radius: 3px;
			background-color: var(--bs-color-white);
			padding: 10px;
			transition: .3s;
			@media (max-width:499px) {
				width: 100%;
			}
			&:hover {
				border: 1px solid var(--bs-color-black);
				transition: .3s;
			}
		}
	}
}