.header__categories {
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	padding-top: 28px;
	z-index: 90;
	box-shadow: 0 10px 10px 0 var(--bs-color-grey);
	ul {
		padding: 10px 200px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 180px);
		grid-auto-rows: 30px;
		justify-content: space-around;
		align-items: center;
		background-color: var(--bs-color-white);
		li {
			span {
				cursor: pointer;
				transition: .3s;
				&:hover {
					color: var(--bs-color-grey);
					transition: .3s;
				}
			}
		}
	}
}