.header__categories {
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	padding-top: 28px;
	z-index: 90;
	box-shadow: 0 10px 10px 0 var(--bs-color-grey);
	ul {
		padding: 10px 100px;
		background-color: var(--bs-color-white);
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: .3s;
			border-radius: 10px;
			cursor: pointer;
			padding: 5px;
			&:hover {
				transition: .3s;
				background-color: var(--bs-color-pink);
			}
			span {
				padding: 0 5px;
			}
			.image {
				width: 60px;
				height: 60px;
				img {
					border-radius: 10px;
				}
			}			

		}
	}
}