@import 'vars';
@import 'fonts';
@import 'reset';

.transformX-enter-active, .transformX-leave-active {
	transform: translateX(0%);
	transition: .3s;
}
.transformX-enter-from, .transformX-leave-to {
	transform: translateX(-100%);
	transition: .3s;
}


.transformY-enter-active, .transformY-leave-active {
	transform: translateY(0%);
	transition: .1s;
	transition-timing-function: ease-out;
}
.transformY-enter-from, .transformY-leave-to {
	transform: translateY(-100%);
	transition: .1s;
	transition-timing-function: ease-out;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s ease
}
.fade-enter-from, .fade-leave-to {
	opacity: 0
}


.transformDropdown-enter-active, .transformDropdown-leave-active {
	transition: transform 0.3s, opacity 0.2s;
	height: 100%;
}
.transformDropdown-enter-from, .transformDropdown-leave-to {
	transform: scaleY(0);
	height: 0;
	opacity: 0;
}

.post-list-move {
	transition: .3s;
}